body{


    background-color: #14435e;
    max-height: 300px;
    max-width: 500px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    
}

.container{
    display: flex;
    margin: auto;
    flex-direction: column;
}


.cancel-change{
    display: flex;
    flex-direction: row;
    justify-content:center;

   
}
button{
    background-color: #FBAC18;
    border: none;
    outline: none;
    border-radius: .2rem;
    margin: 0 .8rem 0;
    padding: .4rem;
    color :#14435E ;
    width: 20%;
    cursor: pointer;

}
    

input{
    width: 80vw;
    margin-top: .4rem;
    padding: .3rem;
    border-radius: .2rem;
    border: none;
    outline: none;
}

.tryagain{
    color: #FBAC18;
    text-align: center;
}