


*{
    padding: 0;
    margin: 0;
    font-weight: 200;
    
}

h2{
    color:  #3DA0DA;
}
h3{
    color: #B4B4B5;
}
h4{
    color: #fff;
}

body{
    display: flex;
    margin: auto;
    background-color: #14435E;
}
.contaienr{
    display: flex;
    flex-direction: row;
}
.logo img{
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vw;
}
.middle-row{
    display: flex;
    align-items: center;


}
.form-box{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-right: 1px solid #000;
    margin-left: 1rem ;
    

  
}
.info-box{
    display: flex;
    flex-direction: column;
    flex-grow:1 ;
    margin-left: .7rem;
  
}

/* .empty-box{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} */

.form-box input{


margin: .2rem;
border: none;
outline: none;
border-radius: .2rem;
padding: .3rem;
width: 250px;
}


.form-cta{
    display: flex;

    margin: .2rem;
    border: none;
    width: 250px;
    padding: .3rem;


}



.login-btn{
    display: flex;
    border: none;
    background-color:  #FBAC18;
    width: 40vw;
   align-items: center;
   justify-content: center;
    border-radius: .2rem;
}

select{
    border: .5px solid rgb(52, 52, 52);
width: 60vw;
border: none;
border-radius: .2rem;
padding: .3rem;
margin-right: .2rem;

}

select:focus{
   outline: none;
}